* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.all_unset {
    all: unset;
}

body{
    font-family: 'Jost', sans-serif;
    background-color: #ede7d8;
    color: #880C79;
}

.mast{
    position: sticky;
    background: #e7d3b0;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}